body {
    /* put in font-family property for body */
    
    /* alter BGColor to light blue property for body */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #0dbbf5;
  }
  
  
  /* make h1 and h2 different colors by using the color property */
  
  h1 {
    /* give the h1 a bottom border */
    border-bottom: 1px solid;
    color: rgb(4, 201, 109);
  }
  
  h2 {
    color:rgb(201, 37, 4);

  }
  
  p {
    /* make the line-height to be 150% 
       and the padding-left 2em; */
       line-height: 150%;
       padding-left: 2em;
  }
  
  .badge {
    width: 100px;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .clearfix {
    overflow: auto;
  }
  